.DS_Store
../.idea
back_end/.env
.env
*.pyc
*.pyo
*.pyd
*.bin
*.exe
*.dll
*.whl
*.egg-info
*.egg
*.dist-info
*.so
__pycache__
*.log
*.sqlite3
*.db
*.sqlite
*.db-journal
*.sublime-project
*.sublime-workspace
